:host {
  --color-green-500: #38c172;
  --color-red-500: #e3342f;
  --color-gray-100: #f8fafc;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #f9f9f9;
  --color-gray-400: #f3f3f3;
  --color-gray-500: #efefef;
  --color-gray-600: #cccccc;
  --color-gray-700: #8E8E8E;
  --color-gray-800: #505763;
  --color-gray-900: #29303b;
  --color-gray-800: #282e36;
  --color-white: #ffffff;
  --color-key-500: #33a8e0;
  --color-key-600: #f39100;
  --font-family:  'system-ui', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';
  --font-size: '16px';
  display: block;
  font-size: var(--font-size);
}

*, ::before, ::after {
  box-sizing: border-box;
}

.font-family {
  font-family: var(--font-family);
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.bg-red-500 {
  background-color: var(--color-red-500);
}

.bg-green-500 {
  background-color: var(--color-green-500);
}

.appearance-none {
  appearance: none;
}

.w-full {
  width: 100%;
}

.bg-gray-200 {
  background-color: var(--color-gray-200);
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-gray-600 {
  border-color: var(--color-gray-600);
}

.text-gray-700 {
  color: var(--color-gray-700);
}

.font-light {
  font-weight: 300;
}

.rounded-md {
  border-radius: 0.375em;
}

.py-3 {
  padding-top: .75em;
  padding-bottom: .75em;
}

.px-4 {
  padding-left: 1em;
  padding-right: 1em;
}

.mb-3 {
  margin-bottom: 1.5em;
}

.leading-tight {
  line-height: 1.2;
}

.focus\:outline-none:focus {
  outline: none;
}

.focus\:bg-gray-400:focus {
  background-color: var(--color-gray-400);
}

.placeholder-gray-600 {}

.font-semibold {
  font-weight: 600;
}

.text-gray-700 {
  color: var(--color-gray-700);
}

.text-sm {
  font-size: 0.875em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.my-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.p-4 {
  padding: 1em
}

.text-red-500 {
  color: var(--color-red-500);
}

.text-white {
  color: var(--color-white);
}

.text-center {
  text-align: center;
}

.bg-key-500 {
  background-color: var(--color-key-500);
}

.hover\:bg-key-600:hover {
  background-color: var(--color-key-600);
}

.border-none {
  border: none;
}

.py-3 {
  padding-top: .75em;
  padding-bottom: .75em;
}

.px-8 {
  padding-left: 2em;
  padding-right: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.h-5 {
  height: 1.25em;
}

.ml-3 {
  margin-left: 0.75em;
}

.text-gray-600 {
  color: var(--color-gray-600);
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
